.bundle
db/*.sqlite3-journal
db/*.rdb
log/*.log
tmp/
coverage
tags
config/database.yml
.sass-cache
script/testing/test-api-helper.rb
*.erb~
*.rb~
*.js~
*.html~
*.haml~
doc/app/
*.swp
*~
.tddium*
tests.xml
